@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;


.h2-title{
  // @include neu-text($black, 1, 1, false);
}

.login-container {
    height: 100svh;
    margin: 0 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
  }
  
  .login-container form {
    z-index: 1;
    width: inherit;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: all 1s ease, opacity .5s .8s ease;
    @include neu-top-soft2( $black, 3, .7, false) ;
    }
  
  .nav-shadow-off{
    @include neu-top-soft2 ( transparent, 1 , 1 , false)
  }
  
  