@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

// .btn-group-nav{
//   position: relative;
//     border-radius: 0;
//     margin: 1rem 0 1rem 0;
    
//     &::after{
//       content: "";
//       position: absolute;
//       border-radius: inherit;
//       inset: 0;
//       z-index: 1;
//       pointer-events: none;
//       @include neu-top-soft($gray-900, .3, 0, false);
//     }
//   }
  
//   .btn-group-nav button{
//     border-radius: 0; 
//     background-color: transparent;
//     border: none;

//   }
.btn-group-nav {
  position: relative;
  border-radius: 0;
  margin: 1rem 0;
  display: flex;

  &::after {
    overflow: hidden;
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    @include neu-top-soft($gray-900, 0.3, 0, false);
  }
}

.btn-group-nav button {
  position: relative;
  flex: 1;
  border-radius: 0;
  // background-color: transparent;
  border: none;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  // outline: solid 10px red;
  // z-index: 0;


}