@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.table-products{
    width: 100%;
    @include neu-top-soft($gray-900, .3, 1, false);
    border-radius: .5rem;
    overflow: hidden;
    padding-bottom: .5rem;
    
    .list-distr-name{
        padding: 0;
    }

    .products-header{
        position: relative;
        @include grad-bg($gray-900, $gray-1000, 45deg);
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding-left: 3rem;
        h3{
            margin: 0;
            flex: 1;
            text-align: center;
        }

        .btns-distr{
            width: 40%;

            
            
            button:nth-child(1){
                width: 40%;
                @include neu-bottom($gray-900, .5, .5, false);
                border-top-left-radius: 0px ;
                border-bottom-left-radius: 0px ;
            }
            
            button:nth-child(2){
                @include neu-bottom($gray-900, .5, .5, false);
                padding: .5rem;
                width: 60%;
            }
            button:active{
                border: solid 1px transparent;
                @include neu-bottom($gray-900, 1, 0, false);
            }
        }
        
        button{

            .fa-whatsapp{
                font-size: 1.5rem;
            }

        }
     
    }

    .table-products-header{
        border-bottom: solid 2px $gray-800;
        th,tr,td{
            text-align: center;
            padding: 0;
        }
        tr:nth-child(1),
        th:nth-child(1){
            width: 60%;
        }
        tr:nth-child(2),
        th:nth-child(2){
            width: 20%;
        }
        tr:nth-child(3),
        th:nth-child(3){
            width: 20%;
        }
    }
    .table-products-header-large{
        th,tr,td{
            text-align: center;
            padding: 0;
        }
        tr:nth-child(1),
        th:nth-child(1){
            width: 60%;
        }
        tr:nth-child(2),
        th:nth-child(2){
            width: 18%;
        }
        tr:nth-child(3),
        th:nth-child(3){
            width: 17%;
        }
        tr:nth-child(4),
        th:nth-child(4){
            width: 5%;
        }
    }

    .producto{
        font-size: 1.5rem;
        color: $gray-200;
        border-bottom: solid 1px rgba(75, 75, 75, 0.209);
        
        td{
            text-align: center;
        }

        .btn-delete-product{
            @include neu-text($gray-900, 1, 1, false);
            color: $red;
            .fa-times-circle-o{
                font-size: 1.2rem;
            }

            &:active{
                @include neu-text($gray-900, 0, 1, false);
                border: none;
            }
        }
        &.selected{
            background-color: rgba(83, 83, 83, 0.537);
        }
    }

    .row-hr{
        position: absolute;
        width: 100%;
        margin: 0 ;

    }

    .cant-actual-faltante{
        color: rgba(245, 112, 112, 0.524);
    }
    .cant-actual{
        color: $blue;
    }
    .cant-deseada{
        color: $gray-200;
    }


    .fila-expandida{
        @include neu-bottom($gray-900, .5, 1, false);
        border: none;

        .btn-group,
        button{
            border-radius: 0px;
        }
        .btn-group {
            button:nth-child(1){
                background-color: rgba(222, 125, 125, 0.194);
            }
            
            button:nth-child(3){
                background-color: #5b5b94ac;
                color: $gray-900;

                &:active{
                    color: $gray-500;
                }
            }

        }

        button{
            border: none;



            &:active{
                position: relative;
               background: $gray-900;
               border: none;

               &::after{
                content: "";
                position: absolute;
                inset: 0;
                height: 110%;
                top: -5%;
                background-color: $gray-900;
                z-index: -1;
                
                

               }
            }
        }
        .btn-multiplicar-on{
            background-color: $gray-800;
            border: solid 10px white inset;
        }
    }
}


.header-table-expanded {
    display: table-row-group;
    opacity: 1;
    height: auto;
    transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out;
  }
  
  .header-table-collapsed {
    display: none;
    opacity: 0;
    height: 0;
  }
  
  .toggle-header {
    cursor: pointer;
    user-select: none;
  }