:root{
    --clr-black: rgb(0, 0, 0);
    --clr-gray-dark: #292929;
    --black: #191919;
    --purple: #6f42c1;
    --gray-100: #bebebe;
    --gray-200: #8a8a8a;
    --gray-300: #616161;
    --gray-400: #555555;
    --gray-500: #4a4a4a;
    --gray-600: #3b3b3b;
    --gray-700: #2d2d2d;
    --gray-800: #262626;
}

//variables SASS

$clr-black: rgb(0, 0, 0);
$clr-gray-dark: #292929;
$black: #191919;
$purple: #6f42c1;
$gray-100: #bebebe;
$gray-200: #8a8a8a;
$gray-300: #616161;
$gray-400: #555555;
$gray-500: #4a4a4a;
$gray-600: #3b3b3b;
$gray-700: #2d2d2d;
$gray-800: #262626;
$gray-900: #1f1f1f;
$gray-1000: #111111;

$red: #da7070;
$blue: #5b5b94;